@{
    ViewData["Title"] = "The order is paid";
}

<h1>The order is paid</h1>

<p>---Imitation of the payment system page---</p>

<p>
    <a href="@Url.Action("Finish", "Order")">Back to the shop</a>
</p>

