@using Store.YandexKassa.Areas.YandexKassa.Models
@model ExampleModel
@{
    ViewData["Title"] = "The order is paid";
}

<h1>The order is paid</h1>

<p>The order is paid. To complete the registration, click <em>Next</em></p>

<form action="@Model.ReturnUri" method="post">
    <input type="hidden" name="serviceName" value="YandexKassa" />
    <input type="hidden" name="step" value="1" />
    <input type="hidden" name="values[orderId]" value="@Model.OrderId" />
    <button type="submit" class="btn btn-success">Next</button>
</form>

