@{
    ViewData["Title"] = "The order has been placed";
}

<br />
<h4>
    The order has been placed.
    We collect it in order to transfer it to the delivery service. 
    Wait for the SMS.
</h4>
<p>
    <a href="@Url.Action("Index", "Home")">Back to the store</a>
</p>
