@model OrderModel

@{
    ViewData["Title"] = "Cart";
}

<h1>Cart</h1>

@await Html.PartialAsync("PartialDetails", Model)

<form action="@Url.Action("StartProcess")" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <button type="submit" class="btn btn-success">Place an order</button>
</form>


