@model OrderModel

@{
    ViewData["Title"] = "Mobile phone confirmation";
}

@await Html.PartialAsync("PartialDetails", Model)

<p>
    We need your mobile number to inform you about the receipt
    of the order. The number must be correct, so we will send you
    SMS with a code.
</p>
<form action="@Url.Action("SendConfirmation")" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <div class="form-group">
        <label for="cellPhone">Mobile phone</label>
        <input type="text" class="form-control" name="cellPhone" placeholder="+48123456789" />
        @if (Model.Errors.ContainsKey("cellPhone"))
        {
            <small class="form-text text-danger">@Model.Errors["cellPhone"]</small>
        }
    </div>
    <button type="submit" class="btn btn-success">Send the code</button>
</form>
